<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- Loading Bootstrap -->
<!--     <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Loading Flat UI -->
    <!-- <link href="/css/flat-ui.min.css" rel="stylesheet">
    <link href="/css/demo.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
    <link rel='stylesheet' href='/css/responsive-nav.css' />

  </head>
  <body>
     <div role="navigation" id="nav">
      <ul>
        <li class="active"><a href="/home">首页</a></li>
        <li><a href="/pass">修改密码</a></li>
        <li><a href="/logs">日志</a></li>
        <li><a href="/help">帮组文档</a></li>
      </ul>
    </div>

    <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">列表</div>

  <div class="panel-body">
    <p>...</p>
	
    
  </div>


  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>序号</th>
        <th>状态</th>
        <th width = "150px" min-width = "150px" max-width = "150px">用户</th>
        <th width = "300px" min-width = "300px" max-width = "300px">机器码</th>
        <th>注册号</th>
        <th>起始有效期</th>
        <th>截止有效期</th>
        <th>操作</th>
		<th></th>
      </tr>
    </thead>
    <tbody>
    <%
      var i = 1;    
      customers.forEach(function(customer) {
    %>
      <tr>
        <th scope="row"><%=i%></th>
         <td><%= customer.MachineStatus%></td>
        <td>海淀黄庄店</td>
        <td><%= customer.CDKey%></td>
        <td><%= customer.MachineCode%></td>
        <td id="creation_<%= customer.MachineCode%>">
		<% if (customer.CreationDate == null) {%>
		<%= "N/A"%>
		<%} else {%>
		<%= customer.CreationDate.toLocaleDateString()%>
		<% } %>
		</td>
        <td id="valid_<%= customer.MachineCode%>">
		<% if (customer.ValidDate == null) {%>
		<%= "N/A"%>
		<%} else {%>
		<%= customer.ValidDate.toLocaleDateString()%>
		<% } %>
		</td>
        <td>
        <select id="date_operation_<%= customer.MachineCode%>">
        <option value="-1">立即停用</option>
        <option value="1">延期一个月</option>
        <option value="3">延期三个月</option>
        <option value="6">延期六个月</option>
        <option value="12">延期一年</option>
        <option value="24">延期两年</option>
        <option value="0">永久有效</option>
        </select>
        </td>
		<td>
			<input id="<%= customer.MachineCode%>" type="button" class="savebtn" value = "保存"/>
		</td>
      </tr>
    <%
      i++;
      });
    %>  
    </tbody>
  </table>
  
</div>
    </div>
      <!-- script -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/application.js"></script>
    <!-- <script src='/js/responsive-nav.js' /> -->
    <script>
	   $(function(){
    <!-- var navigation = responsiveNav(".nav-collapse"); -->
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf";
			$('.savebtn').click(function(){
		 var id=$(this).attr("id");
		 var selectVal=$('#date_operation_'+id).val();
		 var valid=$('#valid_'+id).html().replace(/\s/g,'');
		 var creation=$('#creation_'+id).html().replace(/\s/g,'');
		 <!-- alert(id +":" + selectVal); -->
		    		$.ajax({
    			url:'/home/ChangeValidDate',
				type:"post",
    			data:{
    				id:id,
    				extendSel:selectVal,
					valid:valid,
					creation:creation
    			},
    			success:function(data){
    				console.log(data);
    				if(data=='ok'){
    					window.location.href='/home';
    				}else{
    					alert('error!')
    				}
    			}
    		});
		});
    });
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf"
	
    </script>
       <!-- script -->
  </body>
</html>
