<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body>
  
	<% include ./partials/header %>

  

    <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      
      <div class="content">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">列表</div>

          <div class="panel-body">
          <p>...</p>    
          </div>
          <p>
            <input id="newUser" type="button" class="savebtn" value = "新建用户"/>
            <input id="delUser" type="button" class="delbtn" disabled="disabled" value = "删除用户"/>
          </p>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
              <th width = "80px">序号</th>
              <th width = "150px" min-width = "150px" max-width = "150px">用户</th>
              <!-- <th>密码</th> -->
              <th width = "150px">加入日期</th>
              <th></th>
              </tr>
            </thead>
            <tbody>
              <%
                var i = 1;    
                userinfos.forEach(function(userinfo) {
              %>
                <tr>
                <td scope="row"><%=i%></td>
                <td width = "150px" id="username_<%=i%>"><%=userinfo.name%></td>
                <!-- <td width = "80px"><%=userinfo.passwd%></td> -->
                <td width = "150px"><%=userinfo.CreateTime.toLocaleString()%></td>
                <td><input id="<%=i%>" class="seluser" type="checkbox" onclick="enable_delete()"/></td>
                </tr>
              <%
                i++;
                });
              %>  
            </tbody>
          </table>
        </div>
      </div>
      <% include ./partials/footer %>
    </div>
    <script>
	    function enable_delete()
		{
			//console.log("可视化的数据显示");
			var flag = false;
			$(".seluser").each(function(){
				if ($(this).prop('checked'))
				{
					$('#delUser').attr("disabled",false);
					flag = true;
					return true;
				}
			});
			if (flag==false)
			{
				$('#delUser').attr("disabled",true);
			}
			
		}
	
	   $(function(){
			$('.savebtn').click(function(){
			window.location.href='/pass';
			});

			$('.delbtn').click(function(){

			var objJson = [];
						
    		$(".seluser:checked").each(function(){
			var id=$(this).attr("id");
			var username=$('#username_'+id).text();
			
			var userobj = {};
			userobj[name] = username;
			objJson.push(userobj);
			});

			
			console.log(objJson);
    		$.ajax({
    			url:'/users/DelSelUser',
    			data:{
    				users:objJson
    			},
    			success:function(data){
    				console.log(data);
    				if(data=='ok'){
    					window.location.href='/users';
    				}else{
    					alert(data)
    				}
    			}
    		});			
      });
    });
	
    </script>
	
  </body>
</html>