<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body>
  
	<header>
		<% include ./partials/header %>
    </header>
  

    <div role="main" class="main">
      <a href="#nav" id="toggle">Menu</a>
      <div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">列表</div>

	  <div class="panel-body">
		<p>...</p>    
	  </div>


  <!-- Table -->
  <table class="table">
		<thead>
		  <tr>
			<th width = "80px">MachineCode</th>
			<th width = "80px">CustomerName</th>
			<th width = "80px">VehicleId</th>
			<th width = "80px">RegNo</th>
			<th width = "80px">MakeType</th>
			<th width = "80px">Milage</th>
			<th width = "80px">Date</th>
			<th width = "80px">Sign</th>
			<th width = "80px">CustomerData</th>
			<th width = "80px">InfoPage</th>
			<th width = "80px">SteerboxB</th>
			<th width = "80px">SteerboxA</th>
			<th width = "80px">a</th>
			<th width = "80px">Done</th>
			<th width = "80px">Side</th>
			<th width = "80px">CenterLine</th>
			<th width = "80px">RefAxle</th>
			<th width = "80px">RefType</th>
			<th width = "80px">CL_F</th>
			<th width = "80px">CL_R</th>
			<th width = "80px">Offset_F0</th>
			<th width = "80px">Offset_R0</th>
			<th width = "80px">Type</th>
			<th width = "80px">FloorscalesUsed</th>
			<th width = "80px">Model</th>
			<th width = "80px">RadarType</th>
			<th width = "80px">RadarHorizontalB</th>
			<th width = "80px">RadarHorizontalA</th>
			<th width = "80px">RadarVerticalB</th>
			<th width = "80px">RadarVerticalA</th>
			<th width = "80px">RadarAZOF</th>
			<th width = "80px">RadarELOF</th>
			<th width = "80px">FrameFrontWidth</th>
			<th width = "80px">FrameRearWidth</th>
			<th width = "80px">FrameGauge</th>
			<th width = "80px">WACreated</th>
			<th width = "80px">FMCreated</th>
		  </tr>
		</thead>
		<tbody>
		<%
		  vhiecles.forEach(function(vhiecle) {
		%>
		  <tr>
			<td><%=vhiecle.MachineCode%></td>
			<td><%=vhiecle.CustomerName%></td>
			<td><%=vhiecle.VehicleId%></td>
			<td><%=vhiecle.RegNo%></td>
			<td><%=vhiecle.MakeType%></td>
			<td><%=vhiecle.Milage%></td>
			<td><%=vhiecle.Date%></td>
			<td><%=vhiecle.Sign%></td>
			<td><%=vhiecle.CustomerData%></td>
			<td><%=vhiecle.InfoPage%></td>
			<td><%=vhiecle.SteerboxB%></td>
			<td><%=vhiecle.SteerboxA%></td>
			<td><%=vhiecle.a%></td>
			<td><%=vhiecle.Done%></td>
			<td><%=vhiecle.Side%></td>
			<td><%=vhiecle.CenterLine%></td>
			<td><%=vhiecle.RefAxle%></td>
			<td><%=vhiecle.RefType%></td>
			<td><%=vhiecle.CL_F%></td>
			<td><%=vhiecle.CL_R%></td>
			<td><%=vhiecle.Offset_F0%></td>
			<td><%=vhiecle.Offset_R0%></td>
			<td><%=vhiecle.Type%></td>
			<td><%=vhiecle.FloorscalesUsed%></td>
			<td><%=vhiecle.Model%></td>
			<td><%=vhiecle.RadarType%></td>
			<td><%=vhiecle.RadarHorizontalB%></td>
			<td><%=vhiecle.RadarHorizontalA%></td>
			<td><%=vhiecle.RadarVerticalB%></td>
			<td><%=vhiecle.RadarVerticalA%></td>
			<td><%=vhiecle.RadarAZOF%></td>
			<td><%=vhiecle.RadarELOF%></td>
			<td><%=vhiecle.FrameFrontWidth%></td>
			<td><%=vhiecle.FrameRearWidth%></td>
			<td><%=vhiecle.FrameGauge%></td>
			<td><%=vhiecle.WACreated%></td>
			<td><%=vhiecle.FMCreated%></td>
		  </tr>
		<%
		  });
		%>  
	</tbody>
  </table>
	  
	</div>

	<footer>
		<% include ./partials/footer %>
    </footer>
    </div>
	
      <!-- script -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/video.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/application.js"></script>
    <!-- <script src='/js/responsive-nav.js' /> -->
    <script>
	   $(function(){
    <!-- var navigation = responsiveNav(".nav-collapse"); -->
      videojs.options.flash.swf = "dist/js/vendors/video-js.swf";

      videojs.options.flash.swf = "dist/js/vendors/video-js.swf"
	
    </script>
    <!-- script -->

  </body>
</html>